.form {
  background: #fdfdfd;
  filter: drop-shadow(0.5px -3px 3px #cfd9de);
  border-radius: 10px;
  margin: 2em 0 -6em 0;

  .form__title {
    font-size: 22px;
    padding: 2em 0 0 0;
    width: 90%;
    margin: 0 auto;
  }

  .cta__form {
    padding: 2em 0 4em 0;
    text-align: center;
  }

  .cta--btn {
    font-family: $secondary-font;
    padding: 1em 3.5em;
    border: none;
    border-radius: 50px;
    color: #fff;
    background: $cta-clr;
    font-size: 15px;
    letter-spacing: 0.5px;
    filter: drop-shadow(0px 5px 3px #cfd9de);
    transition: all 350ms ease-out;
  }

  .cta--btn:hover,
  .cta--btn:focus {
    letter-spacing: 1.2px;
    transform: scale(1.05);
  }
}
